<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#002D62">
    <img src="/public/img/uco.png" width="50"height="50" alt="">
    <span style="align-content: center; padding-left: 50px;" class="navbar-brand">Wheelchair Accessible Campus Navigation</span>
    <div class="collapse navbar-collapse" id="navbarNav">
    </div>
</nav>